@font-face {
    font-family: 'Helvetica Neue';
    src: url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Medium.eot');
    src: local('Helvetica Neue Medium'), local('HelveticaNeue-Medium'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Medium.woff') format('woff'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Medium.ttf') format('truetype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Thin.eot');
    src: local('Helvetica 35 Thin'), local('HelveticaNeue-Thin'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Thin.woff2') format('woff2'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Thin.woff') format('woff'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Thin.ttf') format('truetype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeueRegular.eot');
    src: local('HelveticaNeue Regular'), local('HelveticaNeueRegular'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeueRegular.woff2') format('woff2'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeueRegular.woff') format('woff'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeueRegular.ttf') format('truetype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Bold.eot');
    src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Bold.woff') format('woff'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Bold.ttf') format('truetype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Light.eot');
    src: local('Helvetica Neue Light'), local('HelveticaNeue-Light'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Light.woff') format('woff'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Light.ttf') format('truetype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Italic.eot');
    src: local('Helvetica Neue Italic'), local('HelveticaNeue-Italic'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Italic.woff2') format('woff2'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Italic.woff') format('woff'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Italic.ttf') format('truetype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue.eot');
    src: local('Helvetica Neue'), local('HelveticaNeue'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue.woff2') format('woff2'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue.woff') format('woff'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue.ttf') format('truetype'),
        url('w/extensions/wikivisor/skins/chameleon/fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
//	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgb(0 0 0 / 1%) 0 0 1px;
	min-width: 280px;
	background-image: url(/w/extensions/wikivisor/skins/chameleon/images/bonnie-background.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

body {
	background-image: none;
	background-color: #ffffffaa;

	@extend .m-auto;

	p {
		max-width: 100%;
		line-height: calc(1ex / 0.35);
		margin: calc(1ex / 0.4) 0;
	}
}

.toc {
	@extend .bg-transparent;
	@extend .border-0;
	font-weight: 1rem;
	@extend .d-block;
	@extend .mb-3;

	.tocnumber {
		@extend .d-none;
	}

	.toctitle {
		@extend .text-left;
		@extend .mb-3;

		.toctogglespan {
			@extend .float-right;
		}

		h2 {
			font-size: 170% !important;
			border-bottom: 1px solid #a2a9b1;
			padding: 0 0 .35rem !important;
			margin-bottom: .5rem;
			@extend .d-block;
			@extend .w-100;
			@extend .font-weight-normal;
		}
	}

	li li {
		padding: 0 0 0 1.5rem;
	}
}

.p-navbar {
	.navbar-brand {
		img {
			height: 3rem;
			top: -0.5rem;
		}
	}
}

.testwikibanner {
	background: #3ca4a4;
	color: #fff;
	margin: 1.5rem;
	padding: .5rem 2rem;
	border-left: 7px solid #111;
	border-radius: 4px;

	&:before {
		content: '';
		width: 8px;
		background: #267e7e;
		margin-left: -49px;
		height: 40px;
		position: absolute;
		border-radius: 4px;
		margin-top: -8px;
	}
}

// Thin Scrollbars
/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #ddd #f0f0f0;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
	background-color: #ddd;
	border-radius: 20px;
	border: 3px solid #f0f0f0;
}

body {
	@extend .d-flex;
	@extend .flex-column;
	min-width: 360px;
}

#mw-navigation {
	bottom: 56px;
	@extend .bg-white;
	@extend .border-top;
}

#footer-area {
	background: #333;
	padding: 3rem;
}

.panel-bottom {
	bottom: 0;
	order: 10;
	background: #262626;

	.navbar-nav {
		@extend .w-100;
	}
	
	.dropdown-menu {
		background: #444;
	}
}

.panel-top {
	top: 0;
	order: 0;
	z-index: 2;
	@extend .bg-white;
	@extend .border-bottom;

	&>.navbar-nav {
		@extend .w-100;
	}

	.navbar-nav {
		@extend .justify-content-between;
	}
}

#p-search {
	* {
		border: 0;
		box-shadow: none;
		background-color: #f4f4f4;
		border-radius: 10px;
		background-image: none;
	}

	#searchInput {
		min-height: 40px;
		order: 1;
		padding-left: 0;
		padding-right: 0;
		font-size: .9rem;
	}
}

#top-menu-toggler-left,
#top-menu-toggler-right,
#back-to-top {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	z-index: 10000;
}

#back-to-top {
	visibility: hidden;
}

.nav-link {
	cursor: pointer;
	@extend .text-dark;
	@extend .rounded;

	&:hover {
		background-color: rgba(0, 0, 0, .05);
	}

	&.fa-home:before {
		@extend .mr-2;
	}
}

#panel-left-close,
#panel-right-close {
	background: url(/w/extensions/wikivisor/skins/chameleon/images/dash-circle.svg);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	cursor: pointer;
}

.footer-area,
#panel-left-close,
#panel-right-close {
	.nav-link {
		@extend .text-light;

		&:hover {
			background-color: rgba(255, 255, 255, .05);
		}
	}
}

#panel-left-close {
	margin-left: auto;
}

#footer-area {
	background-color: #333;
	padding: 3rem;
	background-image: url(/w/extensions/wikivisor/skins/chameleon/images/bonnie-background.png);
	background-blend-mode: color-burn;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.dropdown-toggle,
.navbar-userloggedin {
	&:before {
		@extend .d-none;
	}
}

.dropup .navbar-userloggedin {
	&:after {
		display: inline-block;
		margin-left: 0.255em;
		vertical-align: 0.255em;
		content: "";
		border-top: 0;
		border-right: 0.3em solid transparent;
		border-bottom: 0.3em solid;
		border-left: 0.3em solid transparent;
	}
}

.dropdown-menu {
	@extend .border-0;
	@extend .p-2;

	a {
		padding: 0.5rem 1rem !important;
		@extend .rounded;
	}
}

#panel-left,
#panel-right {
	display: none;
	position: fixed;
	top: 0;
	width: 360px;
	height: 100vh;
	background: #40a4a4;
	z-index: 1030;
	@extend .py-2;
	box-shadow: 0 0 20px #2228;
	border: 1px solid #238a8a;
	overflow-y:auto;

	&:before {
		content: '';
		position: fixed;
		top: 0;
		height: 100vh;
		background-color: #33333333;
		z-index: 0;
		opacity: .75;
	}

	.dropdown {
		text-align: end;
	}

	.dropdown-toggle {
		@extend .font-weight-bold;
		@extend .disabled;

		&:after {
			@extend .d-none;
		}
	}

	.dropdown-menu {
		display: block;
		float: none;
		position: relative;
		z-index: inherit;
		background-color: #ddd3;
		box-shadow: none;
		@extend .p-0;
					
		&> div > a:first-child:last-child:hover,
		&> div > a:first-child:last-child:focus {
			color: #fff !important;
			background-color: rgba(255, 255, 255, .05) !important;
			background-image: none;
		}
	}

	.nav-link {
		color: #efefef !important;

		&:hover, &:focus {
			color: #fff !important;
			background-color: rgba(255, 255, 255, .05) !important;
			background-image: none;
		}
	}
}

#panel-right {
	right: 0;
	direction: rtl;

	&:before {
		right: 360px;
		left: 0;
	}

	.row {
		direction: ltr;
	}
}

#panel-left {
	&:before {
		left: 360px;
		right: 0;
	}
}

.navbar-tools {
	@extend .px-0;
}

.navbar-more-tools,
.navbar-tool-link,
.navbar-tool>a {
	@extend .nav-link;

	&:before {
		@extend .mr-0;
	}
}

.page-Main_Page {
	#firstHeading {
		@extend .d-none;
	}
}

container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
	padding-right: 9px;
	padding-left: 9px;
}

#content {
	background: #ffffffc4;
	padding: 1rem;
	margin: 1rem 0 3rem 0;
	border-radius: 40px;
}

@media (min-width: 768px) {
	#content {
		padding: 4rem 8rem 8rem 8rem;
	}

}

.suggestions {
	background: #fff;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: .5rem !important;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
	margin: 0 0 0 -1rem !important;

	* {
		@extend .border-0;
		@extend .text-dark;
	}

	.suggestions-result-current {
		background-color: #f2f2f2;
	}

	.suggestions-special,
	.suggestions-result {
		line-height: inherit !important;
		border-radius: 10px;
		padding: .5rem 1rem;
		margin-top: .25rem !important;
	}
}

.mw-special-Userlogin,
.page-Special_Badtitle {
	#content {
		@extend .d-flex;
		@extend .flex-column;
		background: none !important;

		#bodyContent {
			@extend .d-flex;
			@extend .flex-fill;
			@extend .align-items-center;
			@extend .justify-content-center;
		}

		#firstHeading {
			@extend .d-none;
		}

		.warningbox {
			background-color: transparent !important;
			background-image: none;
			border: 0;
			text-align: center;
		}
	}
}

.mw-special-Userlogin {

	a[title="Special:PasswordReset"],
	.mw-userlogin-help {
		@extend .d-none;
	}

	.mw-htmlform {
		margin: auto;
	}

	#userloginprompt {
		* {
			text-align: center;
		}
	}

	#userloginForm {
		a {
			color: #36c !important;
		}

		input {
			@extend .rounded;
			@extend .border-0;
			@extend .p-3;
			box-shadow: none !important;
		}

		button {
			border-radius: 32px !important;
			padding: 1rem !important;
		}
/**
		.loginText,
		.loginPassword,
		.mw-userlogin-rememberme,
		#wpLoginAttempt {
			@extend .d-none;
		}
		**/
	}


	#top-menu-toggler-right,
	#top-menu-toggler-left {
		@extend .d-none;
	}
}

h2, .h2 {
	font-size: 2.2rem;
	font-weight: 500 !important;
/*	@extend .border-bottom-0;*/
}
